#waterfall {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
    height: calc(100% - 60px);
    background-color: var(--fill-color);
    /* backdrop-filter: blur(8px); */
}

#waterfall.fancy {
    background-color: unset;
    backdrop-filter: blur(8px);
}

#waterfall canvas {
    width: 100%;
    height: 100%;
}

#waterfall.open {
    animation: waterfallOpen 0.25s ease-out 0s;
}

#lyrics {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--text-color);
    background-color: var(--transparent-bg-color);
    overflow-y: auto;
    width: 100%;
    max-height: 40%;
    text-align: center;
    overflow-wrap: anywhere;
    font-size: 1.25rem;
}


.lyrics-highlight {
    color: var(--theme-color);
    font-weight: bold;
}

@keyframes waterfallOpen {
    from {
        visibility: hidden;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}

@media only screen and (max-height:400px) {
    #waterfall {
        height: calc(100% - 56px);
    }
}